<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <title>My Team</title>
    <style>
      body {
        margin-bottom: 5em;
      }
      .card {
        margin-bottom: 5em;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center $primary">
      <h1>My Team</h1>
    </div>
    <div class="container">
      <div class="row info">{% employees %}</div>
    </div>
  </body>
</html>